* {
    margin: 0;
    padding: 0;
}
body {
    background: #ffe8f0;
    padding: 20px;
}
#join {
    background-color: #fff;
    border: 3px solid #fbbcd2;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin: 30px auto;
}
#join h1 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 25px;
    text-align: center;
    color: #fd6fa1;
}
#join ul {
    line-height: 40px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 18px;
}
#button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.join {
    border: 1px solid #fbbcd2;
    border-radius: 10px;
    font-size: 15px;
    font-family: "맑은 고딕", 굴림, 돋움;
    letter-spacing: 1px;
    padding: 7px 25px;
    cursor: pointer;
}

.join-submit {
    background-color: #fc92b7;
    color: white;
    border-color: #fc92b7;
}

/* 가입취소 버튼 - 회색 */
.join-cancel {
    background-color: #fdbdd4;
    color: white;
    border-color: #fdbdd4;
}


#join label {
    float: left;
    font-size: 13px;
    width: 110px;
}

#join input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
    border: 2px solid #fbbcd2;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}