@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'SUITE-Regular', cursive;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#con {
    width: 1200px;
    margin: 0 auto;
}

#container {
    display: grid;
    grid-template-columns: repeat(8, 150px);
    grid-template-rows: 100px repeat(9, auto) auto; /* footer */
    grid-template-areas:
        "logo logo nav nav nav nav nav nav"
        "banner banner banner banner banner banner banner banner"
        "banner banner banner banner banner banner banner banner"
        "profile profile content content content content content content"
        "profile profile content content content content content content"
        "profile profile content content content content content content"
        "profile profile content content content content content content"
        "profile profile content content content content content content"
        "profile profile content content content content content content"
        "profile profile content content content content content content"
        "foot foot foot foot foot foot foot foot";
}

#logo {
    background-color: #f7eaf9;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
  width: 80%; 
  height: auto;
  cursor: pointer;
  margin: 0 auto;
}
#banner {
    margin: 0px auto;
    width: 1200px;
    height: 200px;
}
#nav {
    background-color: #f7eaf9;
    grid-area: nav;
}

#profile {
    background-color: rgb(251, 244, 245);
    grid-area: profile;
}

#content {
    background-color: #f7eaf9;
    grid-area: content;
    color: black;

}

footer {
    grid-area: foot;
    color: #717171;
    text-align: center;
    padding: 20px;
}
footer a,p {
    font-size: 13px;
}